	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/05/2018 08:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: inherit;
font-style: normal;
margin-left: 0;
}

.flaticon-001-yen-8:before { content: "\f100"; }
.flaticon-002-vision:before { content: "\f101"; }
.flaticon-003-yen-7:before { content: "\f102"; }
.flaticon-004-price-tag-3:before { content: "\f103"; }
.flaticon-005-invoice-5:before { content: "\f104"; }
.flaticon-006-shopping-bag-2:before { content: "\f105"; }
.flaticon-007-smartphone-13:before { content: "\f106"; }
.flaticon-008-yen-6:before { content: "\f107"; }
.flaticon-009-profits-7:before { content: "\f108"; }
.flaticon-010-presentation-4:before { content: "\f109"; }
.flaticon-011-pin-3:before { content: "\f10a"; }
.flaticon-012-piggy-bank-6:before { content: "\f10b"; }
.flaticon-013-money-23:before { content: "\f10c"; }
.flaticon-014-money-22:before { content: "\f10d"; }
.flaticon-015-money-21:before { content: "\f10e"; }
.flaticon-016-smartphone-12:before { content: "\f10f"; }
.flaticon-017-yen-5:before { content: "\f110"; }
.flaticon-018-smartphone-11:before { content: "\f111"; }
.flaticon-019-safebox-5:before { content: "\f112"; }
.flaticon-020-mortgage-3:before { content: "\f113"; }
.flaticon-021-head-4:before { content: "\f114"; }
.flaticon-022-growth-4:before { content: "\f115"; }
.flaticon-023-funnel-4:before { content: "\f116"; }
.flaticon-024-get-money-8:before { content: "\f117"; }
.flaticon-025-flow:before { content: "\f118"; }
.flaticon-026-eye-6:before { content: "\f119"; }
.flaticon-027-contract:before { content: "\f11a"; }
.flaticon-028-user-4:before { content: "\f11b"; }
.flaticon-029-yen-4:before { content: "\f11c"; }
.flaticon-030-yen-3:before { content: "\f11d"; }
.flaticon-031-yen-2:before { content: "\f11e"; }
.flaticon-032-time-is-money-3:before { content: "\f11f"; }
.flaticon-033-yen-1:before { content: "\f120"; }
.flaticon-034-yen:before { content: "\f121"; }
.flaticon-035-idea-5:before { content: "\f122"; }
.flaticon-036-money-bag-6:before { content: "\f123"; }
.flaticon-037-browser-1:before { content: "\f124"; }
.flaticon-038-wallet:before { content: "\f125"; }
.flaticon-039-glasses:before { content: "\f126"; }
.flaticon-040-businesswoman:before { content: "\f127"; }
.flaticon-041-businessman:before { content: "\f128"; }
.flaticon-042-certificate-1:before { content: "\f129"; }
.flaticon-043-browser:before { content: "\f12a"; }
.flaticon-044-get-money-7:before { content: "\f12b"; }
.flaticon-045-get-money-6:before { content: "\f12c"; }
.flaticon-046-get-money-5:before { content: "\f12d"; }
.flaticon-047-get-money-4:before { content: "\f12e"; }
.flaticon-048-rupee-7:before { content: "\f12f"; }
.flaticon-049-eye-5:before { content: "\f130"; }
.flaticon-050-target-3:before { content: "\f131"; }
.flaticon-051-price-tag-2:before { content: "\f132"; }
.flaticon-052-invoice-4:before { content: "\f133"; }
.flaticon-053-shopping-bag-1:before { content: "\f134"; }
.flaticon-054-money-20:before { content: "\f135"; }
.flaticon-055-magnifying-glass-1:before { content: "\f136"; }
.flaticon-056-profits-6:before { content: "\f137"; }
.flaticon-057-presentation-3:before { content: "\f138"; }
.flaticon-058-pin-2:before { content: "\f139"; }
.flaticon-059-piggy-bank-5:before { content: "\f13a"; }
.flaticon-060-money-19:before { content: "\f13b"; }
.flaticon-061-money-18:before { content: "\f13c"; }
.flaticon-062-money-17:before { content: "\f13d"; }
.flaticon-063-smartphone-10:before { content: "\f13e"; }
.flaticon-064-rupee-6:before { content: "\f13f"; }
.flaticon-065-smartphone-9:before { content: "\f140"; }
.flaticon-066-safebox-4:before { content: "\f141"; }
.flaticon-067-mortgage-2:before { content: "\f142"; }
.flaticon-068-head-3:before { content: "\f143"; }
.flaticon-069-growth-3:before { content: "\f144"; }
.flaticon-070-rupee-5:before { content: "\f145"; }
.flaticon-071-get-money-3:before { content: "\f146"; }
.flaticon-072-rupee-4:before { content: "\f147"; }
.flaticon-073-eye-4:before { content: "\f148"; }
.flaticon-074-file-4:before { content: "\f149"; }
.flaticon-075-user-3:before { content: "\f14a"; }
.flaticon-076-rupee-3:before { content: "\f14b"; }
.flaticon-077-rupee-2:before { content: "\f14c"; }
.flaticon-078-rupee-1:before { content: "\f14d"; }
.flaticon-079-time-is-money-2:before { content: "\f14e"; }
.flaticon-080-chat-1:before { content: "\f14f"; }
.flaticon-081-rupee:before { content: "\f150"; }
.flaticon-082-idea-4:before { content: "\f151"; }
.flaticon-083-money-bag-5:before { content: "\f152"; }
.flaticon-084-exchange-9:before { content: "\f153"; }
.flaticon-085-exchange-8:before { content: "\f154"; }
.flaticon-086-exchange-7:before { content: "\f155"; }
.flaticon-087-shopping-cart:before { content: "\f156"; }
.flaticon-088-pound-sterling-9:before { content: "\f157"; }
.flaticon-089-eye-3:before { content: "\f158"; }
.flaticon-090-target-2:before { content: "\f159"; }
.flaticon-091-price-tag-1:before { content: "\f15a"; }
.flaticon-092-invoice-3:before { content: "\f15b"; }
.flaticon-093-shopping-bag:before { content: "\f15c"; }
.flaticon-094-smartphone-8:before { content: "\f15d"; }
.flaticon-095-magnifying-glass:before { content: "\f15e"; }
.flaticon-096-profits-5:before { content: "\f15f"; }
.flaticon-097-presentation-2:before { content: "\f160"; }
.flaticon-098-pin-1:before { content: "\f161"; }
.flaticon-099-piggy-bank-4:before { content: "\f162"; }
.flaticon-100-pound-sterling-8:before { content: "\f163"; }
.flaticon-101-pound-sterling-7:before { content: "\f164"; }
.flaticon-102-money-16:before { content: "\f165"; }
.flaticon-103-pound-sterling-6:before { content: "\f166"; }
.flaticon-104-invoice-2:before { content: "\f167"; }
.flaticon-105-smartphone-7:before { content: "\f168"; }
.flaticon-106-safebox-3:before { content: "\f169"; }
.flaticon-107-mortgage-1:before { content: "\f16a"; }
.flaticon-108-head-2:before { content: "\f16b"; }
.flaticon-109-growth-2:before { content: "\f16c"; }
.flaticon-110-funnel-3:before { content: "\f16d"; }
.flaticon-111-get-money-2:before { content: "\f16e"; }
.flaticon-112-pound-sterling-5:before { content: "\f16f"; }
.flaticon-113-eye-2:before { content: "\f170"; }
.flaticon-114-file-3:before { content: "\f171"; }
.flaticon-115-user-2:before { content: "\f172"; }
.flaticon-116-pound-sterling-4:before { content: "\f173"; }
.flaticon-117-pound-sterling-3:before { content: "\f174"; }
.flaticon-118-pound-sterling-2:before { content: "\f175"; }
.flaticon-119-time-is-money-1:before { content: "\f176"; }
.flaticon-120-pound-sterling-1:before { content: "\f177"; }
.flaticon-121-pound-sterling:before { content: "\f178"; }
.flaticon-122-idea-3:before { content: "\f179"; }
.flaticon-123-money-bag-4:before { content: "\f17a"; }
.flaticon-124-exchange-6:before { content: "\f17b"; }
.flaticon-125-piggy-bank-3:before { content: "\f17c"; }
.flaticon-126-piggy-bank-2:before { content: "\f17d"; }
.flaticon-127-profits-4:before { content: "\f17e"; }
.flaticon-128-money-15:before { content: "\f17f"; }
.flaticon-129-money-14:before { content: "\f180"; }
.flaticon-130-money-13:before { content: "\f181"; }
.flaticon-131-money-12:before { content: "\f182"; }
.flaticon-132-money-11:before { content: "\f183"; }
.flaticon-133-money-10:before { content: "\f184"; }
.flaticon-134-money-9:before { content: "\f185"; }
.flaticon-135-money-8:before { content: "\f186"; }
.flaticon-136-atm-1:before { content: "\f187"; }
.flaticon-137-money-bag-3:before { content: "\f188"; }
.flaticon-138-smartphone-6:before { content: "\f189"; }
.flaticon-139-online-banking:before { content: "\f18a"; }
.flaticon-140-calculator-1:before { content: "\f18b"; }
.flaticon-141-profits-3:before { content: "\f18c"; }
.flaticon-142-profits-2:before { content: "\f18d"; }
.flaticon-143-padlock-2:before { content: "\f18e"; }
.flaticon-144-purse:before { content: "\f18f"; }
.flaticon-145-key:before { content: "\f190"; }
.flaticon-146-umbrella:before { content: "\f191"; }
.flaticon-147-target-1:before { content: "\f192"; }
.flaticon-148-idea-2:before { content: "\f193"; }
.flaticon-149-id-card:before { content: "\f194"; }
.flaticon-150-insurance-2:before { content: "\f195"; }
.flaticon-151-gold-ingot:before { content: "\f196"; }
.flaticon-152-funnel-2:before { content: "\f197"; }
.flaticon-153-euro-10:before { content: "\f198"; }
.flaticon-154-eye-1:before { content: "\f199"; }
.flaticon-155-euro-9:before { content: "\f19a"; }
.flaticon-156-price-tag:before { content: "\f19b"; }
.flaticon-157-invoice-1:before { content: "\f19c"; }
.flaticon-158-padlock-1:before { content: "\f19d"; }
.flaticon-159-smartphone-5:before { content: "\f19e"; }
.flaticon-160-euro-8:before { content: "\f19f"; }
.flaticon-161-profits-1:before { content: "\f1a0"; }
.flaticon-162-presentation-1:before { content: "\f1a1"; }
.flaticon-163-pin:before { content: "\f1a2"; }
.flaticon-164-piggy-bank-1:before { content: "\f1a3"; }
.flaticon-165-money-7:before { content: "\f1a4"; }
.flaticon-166-money-6:before { content: "\f1a5"; }
.flaticon-167-money-5:before { content: "\f1a6"; }
.flaticon-168-smartphone-4:before { content: "\f1a7"; }
.flaticon-169-euro-7:before { content: "\f1a8"; }
.flaticon-170-smartphone-3:before { content: "\f1a9"; }
.flaticon-171-safebox-2:before { content: "\f1aa"; }
.flaticon-172-mortgage:before { content: "\f1ab"; }
.flaticon-173-head-1:before { content: "\f1ac"; }
.flaticon-174-growth-1:before { content: "\f1ad"; }
.flaticon-175-funnel-1:before { content: "\f1ae"; }
.flaticon-176-get-money-1:before { content: "\f1af"; }
.flaticon-177-euro-6:before { content: "\f1b0"; }
.flaticon-178-eye:before { content: "\f1b1"; }
.flaticon-179-file-2:before { content: "\f1b2"; }
.flaticon-180-user-1:before { content: "\f1b3"; }
.flaticon-181-euro-5:before { content: "\f1b4"; }
.flaticon-182-euro-4:before { content: "\f1b5"; }
.flaticon-183-euro-3:before { content: "\f1b6"; }
.flaticon-184-euro-2:before { content: "\f1b7"; }
.flaticon-185-euro-1:before { content: "\f1b8"; }
.flaticon-186-euro:before { content: "\f1b9"; }
.flaticon-187-idea-1:before { content: "\f1ba"; }
.flaticon-188-money-bag-2:before { content: "\f1bb"; }
.flaticon-189-exchange-5:before { content: "\f1bc"; }
.flaticon-190-exchange-4:before { content: "\f1bd"; }
.flaticon-191-dollar-11:before { content: "\f1be"; }
.flaticon-192-dollar-10:before { content: "\f1bf"; }
.flaticon-193-target:before { content: "\f1c0"; }
.flaticon-194-dollar-tag:before { content: "\f1c1"; }
.flaticon-195-invoice:before { content: "\f1c2"; }
.flaticon-196-padlock:before { content: "\f1c3"; }
.flaticon-197-smartphone-2:before { content: "\f1c4"; }
.flaticon-198-dollar-9:before { content: "\f1c5"; }
.flaticon-199-profits:before { content: "\f1c6"; }
.flaticon-200-presentation:before { content: "\f1c7"; }
.flaticon-201-dollar-8:before { content: "\f1c8"; }
.flaticon-202-piggy-bank:before { content: "\f1c9"; }
.flaticon-203-money-4:before { content: "\f1ca"; }
.flaticon-204-money-3:before { content: "\f1cb"; }
.flaticon-205-money-2:before { content: "\f1cc"; }
.flaticon-206-smartphone-1:before { content: "\f1cd"; }
.flaticon-207-dollar-7:before { content: "\f1ce"; }
.flaticon-208-smartphone:before { content: "\f1cf"; }
.flaticon-209-safebox-1:before { content: "\f1d0"; }
.flaticon-210-dollar-6:before { content: "\f1d1"; }
.flaticon-211-head:before { content: "\f1d2"; }
.flaticon-212-growth:before { content: "\f1d3"; }
.flaticon-213-funnel:before { content: "\f1d4"; }
.flaticon-214-get-money:before { content: "\f1d5"; }
.flaticon-215-dollar-5:before { content: "\f1d6"; }
.flaticon-216-dollar-4:before { content: "\f1d7"; }
.flaticon-217-file-1:before { content: "\f1d8"; }
.flaticon-218-user:before { content: "\f1d9"; }
.flaticon-219-dollar-3:before { content: "\f1da"; }
.flaticon-220-dollar-2:before { content: "\f1db"; }
.flaticon-221-dollar-1:before { content: "\f1dc"; }
.flaticon-222-time-is-money:before { content: "\f1dd"; }
.flaticon-223-chat:before { content: "\f1de"; }
.flaticon-224-dollar:before { content: "\f1df"; }
.flaticon-225-idea:before { content: "\f1e0"; }
.flaticon-226-money-bag-1:before { content: "\f1e1"; }
.flaticon-227-exchange-3:before { content: "\f1e2"; }
.flaticon-228-exchange-2:before { content: "\f1e3"; }
.flaticon-229-exchange-1:before { content: "\f1e4"; }
.flaticon-230-exchange:before { content: "\f1e5"; }
.flaticon-231-file:before { content: "\f1e6"; }
.flaticon-232-discount:before { content: "\f1e7"; }
.flaticon-233-diamond:before { content: "\f1e8"; }
.flaticon-234-money-1:before { content: "\f1e9"; }
.flaticon-235-money:before { content: "\f1ea"; }
.flaticon-236-close:before { content: "\f1eb"; }
.flaticon-237-monitor:before { content: "\f1ec"; }
.flaticon-238-check:before { content: "\f1ed"; }
.flaticon-239-credit-card-1:before { content: "\f1ee"; }
.flaticon-240-credit-card:before { content: "\f1ef"; }
.flaticon-241-atm:before { content: "\f1f0"; }
.flaticon-242-insurance-1:before { content: "\f1f1"; }
.flaticon-243-insurance:before { content: "\f1f2"; }
.flaticon-244-calendar:before { content: "\f1f3"; }
.flaticon-245-bank:before { content: "\f1f4"; }
.flaticon-246-safebox:before { content: "\f1f5"; }
.flaticon-247-balance:before { content: "\f1f6"; }
.flaticon-248-portfolio:before { content: "\f1f7"; }
.flaticon-249-money-bag:before { content: "\f1f8"; }
.flaticon-250-award:before { content: "\f1f9"; }
.flaticon-251-certificate:before { content: "\f1fa"; }
.flaticon-252-auction:before { content: "\f1fb"; }
.flaticon-253-analytics:before { content: "\f1fc"; }
.flaticon-254-add:before { content: "\f1fd"; }
.flaticon-255-calculator:before { content: "\f1fe"; }